{% extends "base/base.html" %}

{% block title %}OTP{% endblock %}

{% block css %} 
<style>
   hr{
      border: 1px solid black;
      width: 28px;
   }
</style>
{% endblock css%}

{% block body %}

<div class="container card mt-4 p-2 " style="width: 500px;">
    <div class="d-flex justify-content-between">
     <div>
        <h2>Enter OTP</h2>
        <p class="text-muted">
            We've sent an OTP to your <br> phone number
        </p>
        <hr>
    </div>
   <div>
     <img src="/static/images/bg1.jpg" class="rounded-circle" alt="Cinque Terre" width="90px" height="86px"> 
   </div> 
</div>
<form method="post">{% csrf_token %}
    <div class="mb-3 mt-2">
      <input type="email" class="form-control form-control-lg" name="email" value="{{request.session.email}}" placeholder="email">
    </div>

    <div class="mb-3 mt-2">
      <input type="text" class="form-control form-control-lg" name="otp" placeholder="One time password">
    </div>
    <button class="btn btn-dark" type="submit">VERIFY OTP</button>
   
 
</div>
</form>

{% endblock body%}
