{% extends "base/base.html" %}

{% block title %}Signup{% endblock %}

{% block css %} 
<style>
   hr{
      border: 1px solid black;
      width: 28px;
   }
</style>
{% endblock css%}

{% block body %}

<div class="container card mt-4 p-2 " style="width: 500px;">
    <div class="d-flex justify-content-between">
     <div>
        <h2>Sign up</h2>
        <p>or <a href="{% url 'user_login'  %}" class="text-muted" style="text-decoration: none;">login to your account</a></p>
        <hr>
    </div>
   <div>
    <img src="/static/images/bg1.jpg" class="rounded-circle" alt="Cinque Terre" width="90px" height="86px"> 
   </div>
</div>
<form method="post">{% csrf_token %}
<div class="mb-3">
    {% include 'base/alert.html' %}
    <input type="email" class="form-control" name="email" placeholder="Email">
</div>
    <div class="mb-3 mt-2">
        <input type="text" class="form-control" name="full_name" placeholder="Full name">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="mobile_no" placeholder="Mobile no">
    </div>
    
   
    <button class="btn btn-dark" type="submit">CONTINUE</button> 
</form>
    <span class="text-muted">By creating an account, I accept the Terms & Conditions</span>

</div>

{% endblock body%}
